{%- assign sst = section.settings -%}
{%- assign collection = collections[sst.collection] -%}
{%- assign limit = sst.limit-%}
<div class="distance color-{{ sst.color_section }}{% if sst.class != blank %} {{ sst.class }}{% endif %}">
    <div class="{{ sst.container }}">
        {% render 'heading-section', sub_position: sst.subheading_position %}
        {% paginate collection.products by limit %}
            <div class="row grid--view-items spacing-{{ sst.spacing }} product__loadmore-{{ section.id }}" data-xxl="{{ sst.xxl }}" data-xl="{{ sst.xl }}" data-lg="{{ sst.lg }}" data-md="{{ sst.md }}" data-sm="{{ sst.sm }}" data-xs="{{ sst.xs }}">
                {% for product in collection.products %}
                    <div class="item {% render 'number-to-col' %} wow fadeInUp animated">
                        {% render 'product-grid-item-style-1', product: product, section_id: section.id %}
                    </div>
                {% else %}
                    {%- for i in (1..8) -%}
                      {%- capture current -%}{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
                      <div class="item {% render 'number-to-col' %} mb-30 wow fadeInUp animated">
                        {{ 'product-apparel-' | append: current | placeholder_svg_tag : 'placeholder-svg' }}
                      </div>
                    {%- endfor -%}
                {% endfor %}
            </div>
            {% if paginate.next %}
                <div class="product-loadmore__bottom text-center mt-55">
                    <div class="pagination__count pagination__count{{ section.id }} mb-15">
                        {{ 'collections.general.product_count_html' | t: count: collection.products.size, total: collection.products_count }}
                    </div>
                    <div class="pagination__bar pagination__bar{{ section.id }} position-relative mb-30" data-max="{{ collection.products_count }}">
                        <span class="progress position-absolute" style="width: {{ collection.products.size | times: 100 | divided_by: collection.products_count }}%"></span>
                    </div>
                    <div class="btn btn_loadmore {{ section.id }} d-inline-flex align-items-center justify-content-center" btn-handle="{{ section.id }}" link="{{ paginate.next.url }}">
                        <span>{{ sst.loadmore }}</span>
                        <div class="load"></div>
                    </div>
                </div>
            {% endif %}
        {% endpaginate %}
        {% for block in section.blocks %}
            {% if block.type == '@app' %}
              {% render block %}
            {% endif %}
          {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "Product Load More",
        "class": "section-product-loadmore",
        "settings":[
            {
                "type": "richtext",
                "id": "heading",
                "label": "Heading",
                "default": "<p>Vinova Product Loadmore</p>"
            },
            {
                "type": "color",
                "id": "heading_color",
                "label": "Heading color",
                "default": "#222222"
            },
            {
                "type": "richtext",
                "id": "subheading",
                "label": "Sub heading",
                "default": "<p>Subtitle from happy customers</p>"
            },
            {
                "type": "color",
                "id": "subheading_color",
                "label": "Sub heading color",
                "default": "#666666"
            },
            {
                "type": "richtext",
                "id": "descheading",
                "label": "Description",
                "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
            },
            {
                "type": "color",
                "id": "descheading_color",
                "label": "Description color",
                "default": "#666666"
            },
            {
                "type": "select",
                "id": "subheading_position",
                "label": "Sub heading position",
                "default": "bottom",
                "options": [
                    {
                        "value": "top",
                        "label": "Top"
                    },
                    {
                        "value": "bottom",
                        "label": "Bottom"
                    }
                ]
            },
            {
                "type": "select",
                "id": "heading_alignment",
                "label": "Heading alignment",
                "default": "text-center",
                "options": [
                    {
                        "value": "text-left",
                        "label": "Left"
                    },
                    {
                        "value": "text-center",
                        "label": "Center"
                    },
                    {
                        "value": "text-right",
                        "label": "Right"
                    }
                ]
            },
            {
                "label": "Collection",
                "id": "collection",
                "type": "collection"
            },
            {
                "type": "range",
                "id": "limit",
                "min": 1,
                "max": 20,
                "step": 1,
                "label": "Product initial",
                "default": 8
            },
            {
                "type":  "header",
                "content": "Product Item Per Row"
            },
            {
                "type": "range",
                "id": "xxl",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Desktop",
                "default": 4,
                "info": "Breakpoint 1440px"
            },
            {
                "type": "range",
                "id": "xl",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Large laptop",
                "default": 4,
                "info": "Breakpoint 1200px"
            },
            {
                "type": "range",
                "id": "lg",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Laptop",
                "default": 4,
                "info": "Breakpoint 992px"
            },
            {
                "type": "range",
                "id": "md",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Tablet",
                "default": 4,
                "info": "Breakpoint 768px"
            },
            {
                "type": "range",
                "id": "sm",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Large mobile",
                "default": 4,
                "info": "Breakpoint 576px"
            },
            {
                "type": "range",
                "id": "xs",
                "min": 1,
                "max": 6,
                "step": 1,
                "label": "Mobile",
                "default": 2
            },
            {
              "type": "range",
              "id": "spacing",
              "min": 0,
              "max": 30,
              "step": 5,
              "label": "Spacing",
              "unit": "px",
              "default": 30,
              "info": "Spacing item"
            },
            {
                "type":  "header",
                "content": "Section Style"
            },
            {
                "type": "color",
                "id": "c_pagination",
                "label": "Pagination color",
                "default": "#666666"
            },
            {
                "type": "color",
                "id": "bg_pagination",
                "label": "Pagination background",
                "default": "#b0b0b0"
            },
            {
                "type": "color",
                "id": "bg_progress",
                "label": "Progress background",
                "default": "#000000"
            },
            {
                "type": "text",
                "id": "loadmore",
                "label": "Load more button",
                "default": "Load more"
            },
            {
                "type": "color",
                "id": "c_btn",
                "label": "Button color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "b_btn",
                "label": "Button background color",
                "default": "#222222"
            },
            {
                "type": "color",
                "id": "c_btn_h",
                "label": "Button color hover",
                "default": "#ffffff"
            },
            {   
                "type": "color",
                "id": "b_btn_h",
                "label": "Button background color hover",
                "default": "#222222"
            },
            {
                "type": "select",
                "id": "container",
                "label": "Container",
                "default": "container",
                "options": [
                    { "value": "container", "label": "Container" },
                    { "value": "container-fluid", "label": "Container fluid"},
                    { "value": "container-full", "label": "Container full width"}
                ]
            },
            {
                "type": "color_scheme",
                "id": "color_section",
                "label": "Color section",
                "default": "background-1"
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background colors"
            },
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background image"
            },
            {
                "type": "text",
                "id": "class",
                "label": "Class"
            },
            {
                "type": "header",
                "content": "Spacing Top (px)"
            },
            {
                "type": "number",
                "id": "distance_top_xl",
                "label": "Large laptop",
                "default": 30,
                "info": "Breakpoint 1200px"
            },
            {
                "type": "number",
                "id": "distance_top_md",
                "label": "Tablet",
                "default": 30,
                "info": "Breakpoint 768px"
            },
            {
                "type": "number",
                "id": "distance_top_xs",
                "label": "Mobile",
                "default": 30
            },
            {
                "type": "header",
                "content": "Spacing Bottom (px)"
            },
            {
                "type": "number",
                "id": "distance_bottom_xl",
                "label": "Large laptop",
                "default": 30,
                "info": "Breakpoint 1200px"
            },
            {
                "type": "number",
                "id": "distance_bottom_md",
                "label": "Tablet",
                "default": 30,
                "info": "Breakpoint 768px"
            },
            {
                "type": "number",
                "id": "distance_bottom_xs",
                "label": "Mobile",
                "default": 30
            }
        ],
        "blocks": [
            {
                "type": "@app"
            }
        ],
        "presets":[
            {
                "name": "Vinova Product Load More",
                "category": "Collection"
            }
        ]
    }
{% endschema %}
<style>
    #shopify-section-{{ section.id }} .distance {
        padding-top: {{ sst.distance_top_xs }}px;
        padding-bottom: {{ sst.distance_bottom_xs }}px;
        {% if sst.background_color != blank %}
            background-color: {{ sst.background_color }};
        {% endif %}
        {%- assign bg_image = sst.background_image -%}
        {% if bg_image.src != blank %}
            background-image: url("{{ bg_image | image_url: width: 1920 }}");
            background-position: center;
            background-size: cover;
        {% endif %}
    }
    #shopify-section-{{ section.id }} .pagination__count {
        color:  {{ sst.c_pagination }};
    }
    #shopify-section-{{ section.id }} .pagination__bar {
        background-color: {{ sst.bg_pagination }};
    }
    #shopify-section-{{ section.id }} .progress {
        background-color: {{ sst.bg_progress }};
    }
    #shopify-section-{{ section.id }} .item-product {
        margin-bottom: {{ sst.spacing }}px;
    }
</style>