{%- liquid
  assign sst = section.settings
  assign limit = sst.limit
-%}
<div class="distance color-{{ sst.color_section }}{% if sst.class_section != blank %} {{ sst.class_section }}{% endif %}{% if sst.animate %} wow fadeInUp animated{% endif %}">
  <div class="{{ sst.container }}"{% if sst.container == 'container-full' %} style="padding: 0 {{ sst.spacing }}px"{% endif %}>
    {% render 'heading-section', sub_position: sst.subheading_position %}
    <div class="d-flex justify-content-center mb-60 {{ sst.nav_style }}">
      <ul class="nav nav-tabs list-unstyled d-none d-sm-flex">
        {% for block in section.blocks %}
          {% if block.type == 'tabitem' %}
            <li class="nav-item position-relative">
              <a href="#" class="nav-link tab-links text-center position-relative{% if forloop.first %} active{% endif %}"
              data-target="#collection{{ forloop.index }}{{ section.id }}"
              data-toggle="tab">
                <span>{{ block.settings.tab_title }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="nav-mobile dropdown d-md-none">
        <div class="dropdown-toggle nav-mobile__title d-flex align-items-center w-100" data-toggle="dropdown" aria-expanded="false">
        </div>
        <div class="dropdown-menu nav dropdown-menu-right w-100">
          {% for block in section.blocks %}
            {% if block.type == 'tabitem' %}
              <div class="nav-link tab-links{% if forloop.first %} active{% endif %}" data-target="#collection{{ forloop.index }}{{ section.id }}" data-toggle="tab">{{ block.settings.tab_title }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="collection-tabs-content position-relative">
      {% for block in section.blocks %}
        {%- assign bst = block.settings -%}
        {%- assign collection = collections[bst.collection_handle] -%}
        {% if block.type == 'tabitem' %}
          <div class="tab-content{% if forloop.first %} active{% endif %}" id="collection{{ forloop.index }}{{ section.id }}">
            {% paginate collection.products by limit %}
              <div class="row spacing-{{ sst.spacing }} grid--view-items product__loadmore-{{ forloop.index }}{{ section.id }}"
                data-xxl="{{ sst.xxl }}"
                data-xl="{{ sst.xl }}"
                data-lg="{{ sst.lg }}"
                data-md="{{ sst.md }}"
                data-sm="{{ sst.sm }}"
                data-xs="{{ sst.xs }}">
                {% for product in collection.products %}
                  <div class="item {% render 'number-to-col' %}">
                    {% render 'product-grid-item-style-1', product: product, section_id: block.id %}
                  </div>
                {% else %}
                  {%- for i in (1..8) -%}
                    {%- capture current -%}{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
                    <div class="item {% render 'number-to-col' %} mb-30">
                      {{ 'product-apparel-' | append: current | placeholder_svg_tag : 'placeholder-svg' }}
                    </div>
                  {%- endfor -%}
                  <div class="text-center col-12">
                    <div class="btn btn-large btn_loadmore d-inline-flex align-items-center justify-content-center">
                      <span>{{ 'sections.collection_loadmore.load_more_items' | t }}</span>
                      <div class="load"></div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              {% if paginate.next %}
                <div class="product-loadmore__bottom text-center mt-30">
                  <div class="pagination__count pagination__count{{ forloop.index }}{{ section.id }} mb-20">
                    {{ 'collections.general.product_count_html' | t: count: collection.products.size, total: collection.products_count }}
                  </div>
                  <div class="pagination__bar pagination__bar{{ forloop.index }}{{ section.id }} position-relative mb-30" data-max="{{ collection.products_count }}">
                    <span class="progress position-absolute" style="width: {{ collection.products.size | times: 100 | divided_by: collection.products_count }}%"></span>
                  </div>
                  <div class="btn btn-large btn_loadmore d-inline-flex align-items-center justify-content-center {{ forloop.index }}{{ section.id }}" btn-handle="{{ forloop.index }}{{ section.id }}" link="{{ paginate.next.url }}">
                    <span>{{ 'sections.collection_loadmore.load_more_items' | t }}</span>
                    <div class="load"></div>
                  </div>
                </div>
              {% endif %}
            {% endpaginate %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% for block in section.blocks %}
      {% if block.type == '@app' %}
        {% render block %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection Load More",
    "class": "section-collection-loadmore",
    "settings":[
      {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "default": "<p>Vinova Collection Tab Loadmore</p>"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading color",
        "default": "#222222"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Sub heading",
        "default": "<p>Subtitle from happy customers</p>"
      },
      {
        "type": "color",
        "id": "subheading_color",
        "label": "Sub heading color",
        "default": "#666666"
      },
      {
        "type": "richtext",
        "id": "descheading",
        "label": "Description",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
      },
      {
        "type": "color",
        "id": "descheading_color",
        "label": "Description color",
        "default": "#666666"
      },
      {
        "type": "select",
        "id": "subheading_position",
        "label": "Sub heading position",
        "default": "bottom",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "range",
        "id": "limit",
        "min": 1,
        "max": 20,
        "step": 1,
        "label": "Product initial",
        "default": 8
      },
      {
        "type":  "header",
        "content": "Product Item Per Row"
      },
      {
        "type": "range",
        "id": "xxl",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Desktop",
        "default": 4,
        "info": "Breakpoint 1440px"
      },
      {
        "type": "range",
        "id": "xl",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Large laptop",
        "default": 4,
        "info": "Breakpoint 1200px"
      },
      {
        "type": "range",
        "id": "lg",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Laptop",
        "default": 4,
        "info": "Breakpoint 992px"
      },
      {
        "type": "range",
        "id": "md",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Tablet",
        "default": 4,
        "info": "Breakpoint 768px"
      },
      {
        "type": "range",
        "id": "sm",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Large mobile",
        "default": 4,
        "info": "Breakpoint 576px"
      },
      {
        "type": "range",
        "id": "xs",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Mobile",
        "default": 2
      },
      {
        "type": "range",
        "id": "spacing",
        "min": 0,
        "max": 30,
        "step": 5,
        "label": "Spacing",
        "unit": "px",
        "default": 30,
        "info": "Spacing item"
      },
      {
        "type":  "header",
        "content": "Style Option"
      },
      {
        "type": "select",
        "id": "nav_style",
        "label": "Nav style",
        "default": "style1",
        "options": [
          {
            "value": "style1",
            "label": "Style 1"
          },
          {
            "value": "style2",
            "label": "Style 2"
          }
        ]
      },
      {
        "type": "color",
        "id": "nav_c",
        "label": "Nav colors",
        "default": "#b0b0b0"
      },
      {
        "type": "color",
        "id": "nav_ca",
        "label": "Nav active colors",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "nav_bg",
        "label": "Nav background",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "nav_bga",
        "label": "Nav active background",
        "default": "#222222"
      },
      {
        "type": "color",
        "id": "nav_bd",
        "label": "Nav border",
        "default": "#b0b0b0"
      },
      {
        "type": "color",
        "id": "c_pagination",
        "label": "Pagination color",
        "default": "#666666"
      },
      {
        "type": "color",
        "id": "bg_pagination",
        "label": "Pagination background",
        "default": "#b0b0b0"
      },
      {
        "type": "color",
        "id": "bg_progress",
        "label": "Progress background",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Style"
      },
      {
        "type": "checkbox",
        "id": "animate",
        "label": "Show animated",
        "default":   true
      },
      {
        "type": "select",
        "id": "container",
        "label": "Container",
        "default": "container",
        "options": [
          { "value": "container", "label": "Container" },
          { "value": "container-fluid", "label": "Container fluid" },
          { "value": "container-full", "label": "Container full width" }
        ]
      },
      {
        "type": "color_scheme",
        "id": "color_section",
        "label": "Color section",
        "default": "background-1"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "header",
        "content": "Spacing Top (px)"
      },
      {
        "type": "number",
        "id": "distance_top_xl",
        "label": "Large laptop",
        "default": 30,
        "info": "Breakpoint 1200px"
      },
      {
        "type": "number",
        "id": "distance_top_md",
        "label": "Tablet",
        "default": 30,
        "info": "Breakpoint 768px"
      },
      {
        "type": "number",
        "id": "distance_top_xs",
        "label": "Mobile",
        "default": 30
      },
      {
        "type": "header",
        "content": "Spacing Bottom (px)"
      },
      {
        "type": "number",
        "id": "distance_bottom_xl",
        "label": "Large laptop",
        "default": 30,
        "info": "Breakpoint 1200px"
      },
      {
        "type": "number",
        "id": "distance_bottom_md",
        "label": "Tablet",
        "default": 30,
        "info": "Breakpoint 768px"
      },
      {
        "type": "number",
        "id": "distance_bottom_xs",
        "label": "Mobile",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type": "tabitem",
        "name": "Tab Item",
        "settings": [
          {
            "type": "text",
            "id": "tab_title",
            "label": "Tab title"
          },
          {
            "type": "collection",
            "id": "collection_handle",
            "label": "Collection"
          }
        ]
      },
      {
        "type": "@app"
      }
    ],
    "presets":[
      {
        "name": "Vinova Collection Load More",
        "category": "Collection",
        "blocks": [
          {
            "type":"tabitem",
            "settings":{
              "tab_title": "Tab one"
            }
          },
          {
            "type":"tabitem",
            "settings":{
              "tab_title": "Tab Two"
            }
          },
          {
            "type":"tabitem",
            "settings":{
              "tab_title": "Tab Three"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
{% style %}
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ sst.distance_top_xs }}px;
    padding-bottom: {{ sst.distance_bottom_xs }}px;
    {%- assign bg_image = sst.background_image -%}
    {% if sst.background_color != blank or bg_image != blank %}
      background: {{ sst.background_color }}{% if bg_image != blank %} url("{{ bg_image | image_url: width: 1920 }}"){% endif %} center;
      background-size: cover;
    {% endif %}
  }
  @media(min-width: 768px) {
    #shopify-section-{{ section.id }} .distance {
      padding-top: {{ sst.distance_top_md }}px;
      padding-bottom: {{ sst.distance_bottom_md }}px;
    }
  }
  @media(min-width: 1200px) {
    #shopify-section-{{ section.id }} .distance {
      padding-top: {{ sst.distance_top_xl }}px;
      padding-bottom: {{ sst.distance_bottom_xl }}px;
    }
  }
  {%- if sst.nav_style == 'style1' -%}
    #shopify-section-{{ section.id }} .nav-tabs .nav-link:after {
      background-color: {{ sst.nav_ca }};
    }
    #shopify-section-{{ section.id }} .nav-link {
      color: {{ sst.nav_c }};
      background-color: {{ sst.nav_bg }};
      border-color: {{ sst.nav_bd }};
    }
    #shopify-section-{{ section.id }} .nav-link:hover, #shopify-section-{{ section.id }} .nav-link.active {
        color: {{ sst.nav_ca }};
        background-color: {{ sst.nav_bga }};
    }
  {%- endif -%}
  {%- if sst.nav_style == 'style2' -%}
    #shopify-section-{{ section.id }} .nav-tabs {
      background-color: {{ sst.nav_bg }};
    }
    #shopify-section-{{ section.id }} .nav-link {
      color: {{ sst.nav_c }};
    }
    #shopify-section-{{ section.id }} .nav-link.active {
      color: {{ sst.nav_ca }};
    }
    #shopify-section-{{ section.id }} .el-slider, #shopify-section-{{ section.id }} .nav-mobile__title {
      background-color: {{ sst.nav_bga }};
    } 
  {%- endif -%}
  #shopify-section-{{ section.id }} .pagination__count {
    color: {{ sst.c_pagination }};
  }
  #shopify-section-{{ section.id }} .pagination__bar {
    background-color: {{ sst.bg_pagination }};
  }
  #shopify-section-{{ section.id }} .progress {
    background-color: {{ sst.bg_progress }};
  }
  #shopify-section-{{ section.id }} .item-product {
    margin-bottom: {{ sst.spacing }}px;
  }
{% endstyle %}