{% assign sst = section.settings %}
{% style %}
  {%- assign bg_image = sst.background_image -%}
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ sst.distance_top_xs }}px;
    padding-bottom: {{ sst.distance_bottom_xs }}px;
    padding-left: clamp(0px, {{ sst.px}}px, 15px);
    padding-right: clamp(0px, {{ sst.px}}px, 15px);
  }
  {% if sst.background_color != blank or bg_image != blank %}
    #shopify-section-{{ section.id }} .distance:before {
      content: "";
      position: absolute;
      {% if sst.bg_position == 'top' %}
        top: 0;
      {% elsif sst.bg_position == 'center' %}
        top: 50%;
        transform: translateY(-50%);
      {% else %}
        bottom: 0;
      {% endif %}
      left: 0;
      width: 100%;
      height: {{ sst.height_background }}%;
      background: {{ sst.background_color }}{% if bg_image != blank %} url("{{ bg_image | image_url: width: 1920 }}"){% endif %} no-repeat center;
      background-size: cover;
    }
  {% endif %}
  @media(min-width: 768px) {
    #shopify-section-{{ section.id }} .distance {
      padding-top: {{ sst.distance_top_md }}px;
      padding-bottom: {{ sst.distance_bottom_md }}px;
      padding-left: {{ sst.px}}px;
      padding-right: {{ sst.px}}px;
    }
  }
  @media(min-width: 1200px) {
    #shopify-section-{{ section.id }} .distance {
      padding-top: {{ sst.distance_top_xl }}px;
      padding-bottom: {{ sst.distance_bottom_xl }}px;
    }
  }
  #shopify-section-{{ section.id }} .progress__bar {
    background: {{ settings.gradient_deal }};
  }
  #shopify-section-{{ section.id }} .countdownfree .item-time {
    color: {{ sst.c_cd }};
    background-color: {{ sst.bg_cd }};
    border: 1px solid {{ sst.bd_cd }};
  }
  #shopify-section-{{ section.id }} .slick-slider .slick-dots button {
    --slider-dot-color: {{ sst.c_dot }};
  }
  #shopify-section-{{ section.id }} .slick-slider .slick-dots li.slick-active {
    --slider-dot-color-act: {{ sst.c_dot_a }};
  }
  {% if sst.banner != blank %}
    #shopify-section-{{ section.id }} .block-banner .respone_image {
      height: 100%;
    }
  {% endif %}
{% endstyle %}
<div class="{% if sst.bg_size == 'full' %}distance position-relative{% if sst.class != blank %} {{ sst.class }}{% endif %} {% endif %}{% if sst.animate %} wow fadeInUp animated{% endif %}" data-section-id="{{ section.id }}" data-section-type="nov-slick">
  <div class="{{ sst.container }}">
    <div class="position-relative{% if sst.bg_size == 'container' %}distance{% if sst.class != blank %} {{ sst.class }}{% endif %}{% endif %}">
      {% render 'heading-section', sub_position: sst.subheading_position %}
      {% if sst.banner != blank %}
        <div class="row spacing-30">
          <div class="col-xl-20 col-lg-4 mb-md-30">
            <div class="block-banner h-100 nov-sh-image-1" style="--banner-corner: {{ sst.banner_corner }}px">
              <a href="{{ sst.banner_link }}" class="d-block h-100">
                {% render 'nov-aspect-image', image: sst.banner %}
              </a>
            </div>
          </div>
          <div class="col-xl-80 col-lg-8">
      {% endif %}

      {% comment %} Deal {% endcomment %}
        <div class="nov-slick-carousel row spacing-{{ sst.spacing }} slider-shadow"
        data-autoplay="false"
        data-autoplayTimeout="6000"
        data-loop="true"
        data-dots="{{ sst.show_dot }}"
        data-nav="{{ sst.show_nav }}"
        data-items_xxl="{{ sst.xxl }}" 
        data-items="{{ sst.xl }}" 
        data-items_lg="{{ sst.lg }}" 
        data-items_md="{{ sst.md }}" 
        data-items_sm="{{ sst.sm }}"
        data-items_xs="{{ sst.xs }}"
        data-row="1">
          {% for block in section.blocks %}
            {% if block.type == 'productcountdownlist' %}
              {% assign product = all_products[block.settings.product_handle] %}
              <div class="item sp-item {% render 'number-to-col' %}">
                {% render 'product-grid-item-style-deal', product: product, section_id: section.id, countdown_timeend: block.settings.countdown_timeend  %}
              </div>
            {% endif %}
          {% else %}
            {%- for i in (1..6) -%}
              <div class="item sp-item {% render 'number-to-col' %} mb-30">
                {%- capture current -%}{% cycle 1, 2, 3, 4 %}{%- endcapture -%}
                {{ 'product-apparel-' | append: current | placeholder_svg_tag : 'placeholder-svg' }}
              </div>
            {%- endfor -%}
          {% endfor %}
        </div>
      {% comment %} End Deal {% endcomment %}

      {% if sst.banner != blank %}
        </div>
      </div>
      {% endif %}

      {% for block in section.blocks %}
        {% if block.type == '@app' %}
          {% render block %}
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Vinova Product Deals",
  "class": "section-product-deals",
  "settings":[
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Vinova Product Deals</p>"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color",
      "default": "#222222"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub heading",
      "default": "<p>Subtitle from happy customers</p>"
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Sub heading color",
      "default": "#666666"
    },
    {
      "type": "richtext",
      "id": "descheading",
      "label": "Description",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
    },
    {
      "type": "color",
      "id": "descheading_color",
      "label": "Description color",
      "default": "#666666"
    },
    {
      "type": "select",
      "id": "subheading_position",
      "label": "Sub heading position",
      "default": "bottom",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "img_heading",
      "label": "Image heading"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Countdown"
    },
    {
      "type": "color",
      "id": "c_cd",
      "label": "Color countdown",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "bg_cd",
      "label": "Background countdown",
      "default": "#d2d2d2"
    },
    {
      "type": "color",
      "id": "bd_cd",
      "label": "Border color",
      "default": "#d2d2d2"
    },
    {
      "type":  "header",
      "content": "Product Item Per Row"
    },
    {
      "type": "range",
      "id": "xxl",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Desktop",
      "default": 4,
      "info": "Breakpoint 1440px"
    },
    {
      "type": "range",
      "id": "xl",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Large laptop",
      "default": 4,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "range",
      "id": "lg",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Laptop",
      "default": 4,
      "info": "Breakpoint 992px"
    },
    {
      "type": "range",
      "id": "md",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Tablet",
      "default": 3,
      "info": "Breakpoint 768px"
    },
    {
      "type": "range",
      "id": "sm",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Large mobile",
      "default": 2,
      "info": "Breakpoint 576px"
    },
    {
      "type": "range",
      "id": "xs",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Mobile",
      "default": 2
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 30,
      "step": 5,
      "label": "Spacing",
      "default": 30,
      "info": "Spacing item",
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Slider Options"
    },
    {
      "type": "checkbox",
      "id": "show_dot",
      "label": "Show dots",
      "default": false
    },
    {
      "type": "color",
      "id": "c_dot",
      "label": "Dots color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "c_dot_a",
      "label": "Dots active color",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "show_nav",
      "label": "Show prev/next arrow",
      "default": true
    },
    {
      "type": "url",
      "id": "btn_nav_link",
      "label": "Button between prev/next link"
    },
    {
      "type": "header",
      "content": "Banner"
    },
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner link"
    },
    {
      "type": "range",
      "id": "banner_corner",
      "min": 0,
      "max": 50,
      "step": 1,
      "label": "Banner corner",
      "default": 0,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section Style"
    },
    {
      "type": "checkbox",
      "id": "animate",
      "label": "Show animated",
      "default":   true
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "default": "container",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Container fluid" },
        { "value": "container-full", "label": "Container full width" }
      ]
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background colors"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "range",
      "id": "height_background",
      "min": 30,
      "max": 100,
      "step": 1,
      "label": "Height background",
      "default": 100,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Background position",
      "default": "top",
      "options": [
        { "value": "top", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "bottom", "label": "Bottom" }
      ]
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": "Background size",
      "default": "full",
      "options": [
        { "value": "full", "label": "Full" },
        { "value": "container", "label": "Container"}
      ]
    },
    {
      "type": "text",
      "id": "class",
      "label": "Class"
    },
    {
      "type": "number",
      "id": "px",
      "label": "Horizontally spacing section (px)",
      "default": 0
    },
    {
      "type": "header",
      "content": "Spacing Top (px)"
    },
    {
      "type": "number",
      "id": "distance_top_xl",
      "label": "Large laptop",
      "default": 30,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "number",
      "id": "distance_top_md",
      "label": "Tablet",
      "default": 30,
      "info": "Breakpoint 768px"
    },
    {
      "type": "number",
      "id": "distance_top_xs",
      "label": "Mobile",
      "default": 30
    },
    {
      "type": "header",
      "content": "Spacing Bottom (px)"
    },
    {
      "type": "number",
      "id": "distance_bottom_xl",
      "label": "Large laptop",
      "default": 30,
      "info": "Breakpoint 1200px"
    },
    {
      "type": "number",
      "id": "distance_bottom_md",
      "label": "Tablet",
      "default": 30,
      "info": "Breakpoint 768px"
    },
    {
      "type": "number",
      "id": "distance_bottom_xs",
      "label": "Mobile",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "productcountdownlist",
      "name": "Product Item",
      "settings": [
        {
          "type": "product",
          "id": "product_handle",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Countdown Time"
        },
        {
          "type": "text",
          "id": "countdown_timeend",
          "label": "Time end product",
          "placeholder": "YYYY\/MM\/DD"
        },
        {
          "type": "paragraph",
          "content": "Format: 'Year\/Month\/Day'"
        },
        {
          "type": "paragraph",
          "content": "Example: '2022\/01\/30'"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Vinova Product Deals"
    }
  ]
}
{% endschema %}

