{% if section.settings.logo %}
  <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image">
    <img src="{{ section.settings.logo | image_url: width: 300 }}" width="300" height="{{ 300 | divided_by: section.settings.logo.aspect_ratio }}" style="height: auto;max-width: {{ section.settings.logo_max_width }}px">
    <noscript>
      {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
      <img src="{{ section.settings.logo | image_url: width: image_size }}"
           srcset="{{ section.settings.logo | image_url: image_size }} 1x, {{ section.settings.logo | image_url: image_size, scale: 2 }} 2x"
           alt="{{ section.settings.logo.alt | default: shop.name }}"
           itemprop="logo"
           width="{{ section.settings.logo_max_width }}"
           height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}" 
           style="max-width: {{ section.settings.logo_max_width }}px; height: auto;">
    </noscript>
  </a>
{% else %}
  <h1 class="site-header__logo-link" href="{{ routes.root_url }}" itemprop="url">
    <span class="logo">{{ shop.name }}</span>
  </h1>
{% endif %}

<h2 class="password__title">{{ section.settings.header | escape }}</h2>
{% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
{% endunless %}

{% if section.settings.newsletter_enable %}
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <ul class="form--success">
        <li>{{ 'general.password_page.signup_form_success' | t }}</li>
      </ul>
    {% else %}
      <p class="password__form-heading h4">
        {{ section.settings.newsletter_form_heading | escape }}
      </p>
      <input type="hidden" name="contact[tags]" value="prospect, password page">
      <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
      <div class="input-group">
        <input type="email" name="contact[email]" id="Email_password" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
        <span class="input-group__btn">
          <button type="submit" name="commit" class="btn">
            <span>{{ section.settings.newsletter_button_text | escape }}</span>
          </button>
        </span>
      </div>
    {% endif %}
  {% endform %}
{% endif %}
{% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
    <div class="d-flex align-items-center justify-content-center">
    {% render 'nov-social' %}
    </div>
  </div>
{% endif %}

<div class="password-powered-by">
  {% capture shopify %}
    <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>
  {% endcapture %}

  <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
</div>

{% for block in section.blocks %}
  {% if block.type == '@app' %}
    {% render block %}
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Password Template",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "Coming Soon"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ],
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}
